@import url("https://fonts.googleapis.com/css?family=Poppins");

:root {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
}

body {
    background-color: rgb(233, 233, 233);
}

.img-pizz {
    transition: transform .2s;
}

.img-pizz:hover {
    transform: scale(1.01);
    box-shadow: 30px 10px 30px(36, 36, 36, 0.5)
}